@page "/herodetail/{Name}"
@inject IHeroService client;
@inject IJSRuntime JSRuntime;


@if(SelectedHero != null){
  <h2>@SelectedHero.Name.ToUpper() Details</h2>
  <div><span>id: </span>@SelectedHero.Id</div>
  <div>
    <label>name:
      <input @bind ="SelectedHero.Name" placeholder="Name"/>
    </label>
  </div>
}

@code{
    //[Parameter]
    public Hero SelectedHero { get; set; }

    [Parameter]
    public string Name {get; set;}

    private Hero[] heroes;
    protected override async Task OnInitializedAsync()
    {
          heroes = await client.GetHeroes();
          SelectedHero = heroes.First(x => x.Name == Name);      
    }
}